name: Build And Test All Packages
on: push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '18.x'

      - name: Install packages
        run: yarn install

      - name: lint
        run: yarn lint --max-warnings=0

      - name: check 
        run: yarn check

      - name: build
        run: |
          yarn build
          yarn generate-bytecode
